services:
  sender:
    build: ./sender
    container_name: sender
    depends_on:
      - rabbit
    networks:
      rabbitmq-net:
        ipv4_address: 192.168.20.2
    tty: true
    stdin_open: true
    environment:
      - BROKER_HOST=rabbit
      - BROKER_PORT=5672
      - BROKER_USER=gabriel
      - BROKER_PASS=insaid33
      - QUEUE=Cola_Mensajes

  receiver:
    build: ./receiver
    container_name: receiver
    depends_on:
      - rabbit
    networks:
      rabbitmq-net:
        ipv4_address: 192.168.20.3
    restart: unless-stopped
    environment:
      - BROKER_HOST=rabbit
      - BROKER_PORT=5672
      - BROKER_USER=gabriel
      - BROKER_PASS=insaid33
      - QUEUE=Cola_Mensajes

  rabbit:
    image: rabbitmq:4-management
    container_name: rabbit
    hostname: rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: gabriel
      RABBITMQ_DEFAULT_PASS: insaid33
    networks:
      rabbitmq-net:
        ipv4_address: 192.168.20.4
    restart: unless-stopped

  sniffer:
    build:
      context: ./sniffer
    container_name: sniffer
    network_mode: host
    tty: true

  interceptor:
    build: ./interceptor
    container_name: interceptor
    network_mode: host     # acceso directo a 0.0.0.0:5672
    privileged: true       # para iptables/NFQUEUE
    tty: true
    restart: unless-stopped


networks:
  rabbitmq-net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.20.0/24